@page "/login"

<h3>Login</h3>
@* 
<div class="row">
    <div class="col-lg-5">
        <div class="alert alert-info mb-3">@Message</div>
        <EditForm Model="LoginModel" OnSubmit="LoginAsync">
            <DataAnnotationsValidator />
            <FloatingText @bind-Value="LoginModel.Email" Label="Email" Placeholder="example@gmail.com" class="form-controll mb-3 Type="email" />
            <FloatingText @bind-Value="LoginModel.Password"  Label="Password" Placeholder="*****" Type="password" class="form-controll mb-3" />
            <button class="btn btn-primary mb-3" type="submit">Login</button>
            <ValidationSummary class="text-danger" />
        </EditForm>


    </div>
</div>

@code {
    string? Message = string.Empty;
    LoginDTO LoginModel = new();
    async Task LoginAsync()
    {
        Message = null;
        var result = await UserService.LoginUserAsync(LoginModel);
        if (result.Success)
        {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(result.Token);
            NavManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            Message = result.Message;
        }
    }
} *@